<!DOCTYPE html>
<html>
	<head>
		<title>Angular for Beginners</title>
		<script src="angular.js"></script>
		<link rel="stylesheet" href="myStyles.css">
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			First Name: <input type="text" ng-model="firstName"><br>
			Last Name: <input type="text" ng-model="lastName"><br><br>
			Full Name: {{fullName()}}
			<my-test-directive></my-test-directive>
			<div my-test-directive></div>
			<div class="my-test-directive"></div>
			<!-- directive: my-test-directive -->
						
			<form name="myForm" ng-init="myText='sonu@singh.com'">
				Email: <input type="email" name="myAddress" ng-model="myText" required>
				<span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
				<p>Edit the e-mail address, and try to change the status.</p>
				<h1>Status</h1>
				<p>Valid: {{myForm.myAddress.$valid}} (if true, the value meets all criteria).</p>
				<p>Dirty: {{myForm.myAddress.$dirty}} (if true, the value has been changed).</p>
				<p>Touched: {{myForm.myAddress.$touched}} (if true, the field has been in focus).</p>	
			</form>
		</div>
		<script src="myApp.js"></script>
		<script src="myCtrl.js"></script>
		<script src="myDirective.js"></script>
	</body>
</html>
